<div class="modal fade " tabindex="-1" [ngClass]="{'in': visibleAnimate}"
     [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header colorful-modal-header">
                <button class="add-new-item extend-filter" type="button" (click)="addFilter()">
                    <i class="glyphicon glyphicon-plus"></i>
                </button>
                <span class="colorful-modal-title">{{'filtering' | translate}}</span>
                <button type="button" class="close float-right color-white" data-dismiss="modal" (click)="hide()" >&times;</button>
            </div>
            <div class="modal-body">
                <div class="extended-filter-container">
                    <div *ngFor="let filter of filterRules">
                        <!--for each added filter-->
                        <div class="col-md-12 filter-item">
                            <div class="col-md-4 filter-col">
                                <select [ngModel]="filter.selectedContext" (ngModelChange)="columnSelected($event, filter)"
                                        class="form-control">
                                    <option [value]="null" [selected]="!filter.selectedContext">{{'selectColumn' | translate}}</option>
                                    <option *ngFor="let column of filterContexts" [ngValue]="column">
                                        <!--all columns-->
                                        {{column.propertyMeta.translation || column.propertyMeta.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-2 filter-col">
                                <select [(ngModel)]="filter.model.operatorId" *ngIf="filter.selectedContext"
                                        class="form-control">
                                    <option [value]="-1">{{'selectOperator' | translate}}</option>

                                    <option *ngFor="let opr of filter.selectedContext.operators" [ngValue]="opr.id">
                                        {{opr.label}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-3 filter-col">
                                <div *ngIf="filter.selectedContext">
                                    <generic-input [fieldMeta]="filter.selectedContext.propertyMeta" [model]="filter.model" [field]="'value'"></generic-input>
                                    <span>{{filter.model.value}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                

                <ng-content select=".on-filter">
                </ng-content>
            </div>
            
        </div>
    </div>
</div>