<div class="modal fade " tabindex="-1" [ngClass]="{'in': visibleAnimate}"
     [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header colorful-modal-header">
                <button class="add-new-item list-view-btn extend-filter" type="button" (click)="addFilter()">
                    <i class="glyphicon glyphicon-plus"></i>
                </button>
                <span class="colorful-modal-title">{{'filtering' | translate}}</span>
                <button type="button" class="close float-right color-white" data-dismiss="modal" (click)="hide()" >&times;</button>
            </div>
            <div class="modal-body">
                <div class="extended-filter-container">
                    <div *ngFor="let filter of filterRules">
                        <!--for each added filter-->
                        <div class="col-md-12 margin-top-10">
                            <div class="col-md-4">
                                <select [ngModel]="filter.selectedContext" (ngModelChange)="columnSelected($event, filter)"
                                        class="form-control">
                                    <option *ngFor="let column of filterContexts" [ngValue]="column">
                                        <!--all columns-->
                                        {{column.propertyMeta.translation || column.propertyMeta.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <select [(ngModel)]="filter.name" *ngIf="filter.selectedContext"
                                        class="form-control">
                                    <option *ngFor="let opr of filter.selectedContext.operators" [ngValue]="filter.model.operatorId">
                                        {{opr.label}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <input *ngIf="filter.selectedContext" [type]="filter.selectedContext.propertyMeta.type == 2 ? 'number': (filter.selectedContext.propertyMeta.type === 7 ? 'date' : 'text')" [(ngModel)]="filter.model.value" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                

                <ng-content select=".on-filter">
                </ng-content>
            </div>
            
        </div>
    </div>
</div>