<div class="panel panel-default login-form">
    <div class="panel-body">
        <div class="col-sm-12 margin-top-10">
            <div class="col-sm-5">
                <label for="tbUsername">{{'username' | translate}}</label>
            </div>
            <div class="col-sm-4">
                <input type="text" name="tbUsername" class="form-control input-sm" [(ngModel)]="username"/>
            </div>
        </div>
        <div class="col-sm-12 margin-top-10">
            <div class="col-sm-5">
                <label for="tbPassword">{{'password' | translate}}</label>
            </div>
            <div class="col-sm-4">
                <input type="password" name="tbPassword"  class="form-control input-sm" [(ngModel)]="password" />
            </div>
        </div>
        <div class="col-sm-12 text-align-center margin-top-10">
            <button type="button" class="btn btn-info" (click)="Login()">{{'login' | translate}}</button>
        </div>
    </div>
</div>