<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    
    <div class="row" *ngIf="item">
        <div class="square background-olive" *ngFor="let menuItem of item.SubItems">
            <div class="content">
                <div class="table">
                    <div class="table-cell">
                        <img [src]="iconUrl + menuItem.Icon" />
                        <br />
                        <a [routerLink]="[menuItem.SubItems && menuItem.SubItems.length > 0 ? ('/nav-item/'+ menuItem.Id) : ('/items/' + menuItem.Id + '/' + menuItem.Type)]"
                           class="navigation-link color-white">
                            {{menuItem.Title}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>