<div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="row">
            <div *ngIf="recent && recent.length > 0" class="margin-left-10 navigation-category">{{'recent' | translate}}</div>
            <div class="square background-light-red" *ngFor="let menuItem of recent">
                <div class="content">
                    <div class="table">
                        <div class="table-cell">
                            <img [src]="iconUrl + menuItem.icon" />
                            <br />
                            <a [routerLink]="[menuItem.subItems && menuItem.subItems.length > 0 ? '#' : menuItem.url]" class="navigation-link color-white">
                                {{menuItem.title}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div *ngIf="favourites && favourites.length > 0" class="margin-left-10 navigation-category">{{'favourites' | translate}}</div>

            <div class="square background-blue" *ngFor="let menuItem of favourites">
                <div class="content">
                    <div class="table">
                        <div class="table-cell">
                            <img [src]="iconUrl + menuItem.icon" />
                            <br />
                            <a [routerLink]="[menuItem.subItems && menuItem.subItems.length > 0 ? '#' : menuItem.url]" class="navigation-link color-white">
                                {{menuItem.title}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="row">
            <div *ngIf="items && items.length > 0" class="margin-left-10 navigation-category">{{'all' | translate}}</div>
            <div class="square background-olive" *ngFor="let menuItem of items">
                <div class="content">
                    <div class="table">
                        <div class="table-cell">
                            <img [src]="iconUrl + menuItem.icon" />
                            <br />
                            <a [routerLink]="[menuItem.subItems && menuItem.subItems.length > 0 ? ('nav-item/' + menuItem.id) : ('items/' + menuItem.url)]" 
                               (click)="selectNavigationItem(menuItem)"
                               class="navigation-link color-white">
                                {{menuItem.title}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    


    <!--<div class="col-lg-2 col-md-3 col-sm-4 col-xs-5 card-nav" *ngFor="let menuItem of items">
        <img [src]="iconUrl + menuItem.icon" />
        <br />
        <a [routerLink]="[menuItem.subItems && menuItem.subItems.length > 0 ? '#' : menuItem.url]" class="navigation-link color-black">
            {{menuItem.title}}
        </a>
    </div>-->
</div>
<div id="page-wrapper">
    <router-outlet></router-outlet>
</div>
