 src/ContentRenderer/node_modules/
src/ContentRenderer/wwwroot/libs/
src/ContentRenderer/node_modules/serve-static/
src/ContentRenderer/node_modules/server-destroy/
src/ContentRenderer/node_modules/serve-index/
src/ContentRenderer/node_modules/sequencify/
src/ContentRenderer/node_modules/send/
src/ContentRenderer/node_modules/semver-diff/
src/ContentRenderer/node_modules/set-blocking/
src/ContentRenderer/node_modules/semver/
src/ContentRenderer/node_modules/rxjs/
node_modules/
*.map
src/ContentRenderer/obj/Debug/netcoreapp1.0/dotnet-compile-csc.rsp
src/ContentRenderer/obj/Debug/netcoreapp1.0/dotnet-compile.rsp
src/ContentRenderer/obj/Debug/netcoreapp1.0/.IncrementalCache
src/ContentRenderer/obj/Debug/TypeScriptCompilerOutput.txt
src/ContentRenderer/bin/Debug/netcoreapp1.0/ContentRenderer.pdb
.vs/ContentRenderer/v14/.suo
